<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/user/home.css">
    </head>

    <body>
        <%- include('../includes/user/header.ejs') %>
            <section>
                <div class="container mt-5">
                    <span class="about text-center" style="font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;">ABOUT US</span>
                    <div class="about-image mt-5 mb-5">
                        <img src="/extras/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="content mb-5" style="line-height:2rem;">
                        <p>Welcome to Box To Box, your ultimate destination for all things football! We are a leading
                            online retailer specializing in high-quality football equipment, apparel, and accessories.
                            Whether
                            you're a player, a fan, or simply looking to embrace the spirit of the game, we have
                            everything
                            you need
                            to kick-start your football journey.</p>

                        <p>Our extensive collection features a wide range of football products from top brands,
                            carefully
                            selected
                            to meet the highest standards of quality, durability, and performance. From football boots
                            that
                            enhance
                            your speed and agility to goalkeeper gloves that offer superior grip and protection, we
                            offer a
                            comprehensive selection to suit every position and playing style.</p>

                        <p>We pride ourselves on our competitive pricing and regular promotions, making it easier for
                            you to
                            find
                            the best deals on your favorite football merchandise. Whether you're looking for the latest
                            team
                            jerseys, training equipment, or accessories to showcase your football fandom, we strive to
                            offer
                            great
                            value for your money.</p>
                    </div>
            </section>
            <%- include('../includes/user/footerSection.ejs') %>

    </body>
    <%- include('../includes/footer.ejs') %>